<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
        <div class="main">
            <div class="content-padding-2">
                <div class="container_12">
                    <div class="bg-2">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registros <strong>Mis Ensayos RS</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img1.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                            </article>
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <table class="table table-hover" style="cursor: pointer;">
                                        <thead>
                                            <tr>
                                                <th>Opciones de registro</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="esta in opcionesRegistro" ng-click="eleccionRegistro(esta)">
                                                <td>{{esta}}</td>
                                            </tr> 
                                        </tbody>
                                    </table>                                                                    
                                </div>
                            </article>
                        </div>
                    </div>                    

                    <div ng-if="opcionEsta">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registros <strong>Establecimiento</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                            </article>                            
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Nombre del establecimiento {{establecimiento.nombre}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.nombre" placeholder="Nombre del establecimiento">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Numero de identificación tributaria NIT {{establecimiento.nit}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.nit" placeholder="Numero de identificación tributaria NIT">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Dirección {{establecimiento.direccion}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.direccion" placeholder="Dirección">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Localidad {{establecimiento.localidad}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.localidad" placeholder="Localidad">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Hora inicio {{establecimiento.horaInicio}}</label>
                                            <input type="number" min="700" class="form-control" max="2000" ng-model="establecimiento.horaInicio" step="100" placeholder="Hora inicio">
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Hora cierre {{establecimiento.horaCierre}}</label>
                                            <input type="number" min="700" class="form-control" max="2000" ng-model="establecimiento.horaCierre" step="100" placeholder="Hora cierre">
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Multa {{establecimiento.multa}}</label>
                                            <input type="number" min="0" max="100" class="form-control" ng-model="establecimiento.multa" placeholder="Teléfono" step="0.1">
                                        </div>                                                         
                                        <div class="form-group">
                                            <label for="exampleInputName2">Teléfono {{establecimiento.telefono}}</label>
                                            <input type="number" min="1000000" max="9999999" class="form-control" ng-model="establecimiento.telefono" placeholder="Teléfono">
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Descripción {{establecimiento.descripcion}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.descripcion" placeholder="Descripción">
                                        </div>
                                        <button type="submit" class="btn btn-info" ng-click="registrarEstablecimiento()">Enviar</button>
                                    </form>                                    
                                </div>
                            </article>
                        </div>
                    </div>                    
                    <div ng-if="opcionSala">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registro <strong>Sala</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a href="#"><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                            </article>                            
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Nombre de la sala {{sala.nombre}}</label>
                                            <input type="text" class="form-control" ng-model="sala.nombre" placeholder="Nombre del establecimiento">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Precio {{sala.precio}}</label>
                                            <input type="number" class="form-control" ng-model="sala.precio" placeholder="Teléfono">
                                        </div>                                       
                                        <div class="form-group">
                                            <label for="exampleInputName2">Descripción {{sala.descripcion}}</label>
                                            <input type="text" class="form-control" ng-model="sala.descripcion" placeholder="Descripción">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2" >Numero de identificación tributaria NIT </label>
                                            <label for="exampleInputName2" style="color: #31b0d5">Este dato se usa para autenticación </label>
                                            <input type="text" class="form-control" ng-model="establecimiento.nit" placeholder="Numero de identificación tributaria NIT" ng-focus>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Establecimiento</label>
                                            <table class="table table-hover" style="cursor: pointer;" ng-if="seleccion2">
                                                <thead>
                                                    <tr>
                                                        <th>Establecimiento</th>
                                                        <th>Infomracion</th>                            
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{sala.establecimiento.nombre}}</td>
                                                        <td>{{sala.establecimiento.localidad}}</td>
                                                    </tr> 
                                                </tbody>
                                            </table>
                                            <table class="table table-hover" style="cursor: pointer;">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre del establecimiento</th>
                                                        <th>Localidad</th>                            
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="esta in todosEstablecimientos" ng-click="seleccionEstablecimientoASala(esta)">
                                                        <td>{{ esta.nombre}}</td>
                                                        <td>{{ esta.localidad}}</td>
                                                    </tr> 
                                                </tbody>
                                            </table>                                                                                                                
                                        </div>    
                                        <button type="submit" class="btn btn-info" ng-click="registrarSala()">Enviar</button>
                                    </form>                                    
                                </div>
                            </article>
                        </div>
                    </div>                                        
                    
                </div>
            </div>
        </div>
        <div class="block"></div>
</section>
