<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
        <div class="main">
            <div class="content-padding-2">
                <div class="container_12">
                    <div class="bg-2">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registros <strong>Mis Ensayos RS</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a href="#"><img src="images/page2-img1.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                            </article>
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <table class="table table-hover" style="cursor: pointer;">
                                        <thead>
                                            <tr>
                                                <th>Opciones de registro</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="esta in opcionesRegistro" ng-click="eleccionRegistro(esta)">
                                                <td>{{esta}}</td>
                                            </tr> 
                                        </tbody>
                                    </table>                                                                    
                                </div>
                            </article>
                        </div>
                    </div>                    

                    <div ng-if="opcionEsta">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registros <strong>Establecimiento</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a href="#"><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a href="#"><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                            </article>                            
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Nombre del establecimiento {{establecimiento.nombre}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.nombre" placeholder="Nombre del establecimiento">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Numero de identificación tributaria NIT {{establecimiento.direccion}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.nit" placeholder="Numero de identificación tributaria NIT">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Dirección {{establecimiento.direccion}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.direccion" placeholder="Dirección">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Localidad {{establecimiento.localidad}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.localidad" placeholder="Localidad">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Hora inicio {{establecimiento.horaInicio}}</label>
                                            <input type="number" min="700" class="form-control" max="2000" ng-model="establecimiento.horaInicio" step="100">
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Hora cierre {{establecimiento.horaCierre}}</label>
                                            <input type="number" min="700" class="form-control" max="2000" ng-model="establecimiento.horaCierre" step="100">
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Multa {{establecimiento.multa}}</label>
                                            <input type="number" min="0" max="100" class="form-control" ng-model="establecimiento.multa" placeholder="Teléfono" step="0.1">
                                        </div>                                                         
                                        <div class="form-group">
                                            <label for="exampleInputName2">Teléfono {{establecimiento.telefono}}</label>
                                            <input type="number" min="1000000" max="9999999" class="form-control" ng-model="establecimiento.telefono" placeholder="Teléfono">
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Descripción {{establecimiento.descripcion}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.descripcion" placeholder="Descripción">
                                        </div>
                                        <button type="submit" class="btn btn-info" ng-click="solicitudRegistro()">Enviar</button>
                                    </form>                                    
                                </div>
                            </article>
                        </div>
                    </div>                    
                    <div ng-if="opcionSala">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registros <strong>Sala</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a href="#"><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                            </article>                            
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile">File input</label>
                                            <input type="file" id="exampleInputFile">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Check me out
                                                </label>
                                            </div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>                                    
                                </div>
                            </article>
                        </div>
                    </div>                                        
                    
                </div>
            </div>
        </div>
        <div class="block"></div>
</section>
