<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
        <div class="main">
            <div class="content-padding-2">
                <div class="container_12">
                    <div class="bg-2">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registros <strong>Mis Ensayos RS</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img1.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                            </article>
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <table class="table table-hover" style="cursor: pointer;">
                                        <thead>
                                            <tr>
                                                <th>Opciones de registro</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="esta in opcionesRegistro" ng-click="eleccionRegistro(esta)">
                                                <td>{{esta}}</td>
                                            </tr> 
                                        </tbody>
                                    </table>                                                                    
                                </div>
                            </article>
                        </div>
                    </div>                    

                    <div ng-if="opcionEsta">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registro <strong>Establecimiento</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>                                
                                </br>
                                </br>
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>  
                            </article>                            
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Nombre del establecimiento {{establecimiento.nombre}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.nombre" placeholder="Nombre del establecimiento" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Numero de identificación tributaria NIT {{establecimiento.nit}}</label>
                                            <label for="exampleInputName2" style="color: #31b0d5">Este dato se usa para autenticación </label>
                                            <label for="exampleInputName2" style="color: #31b0d5">Ejemplo 000.000.000-1 </label>
                                            <input type="text" class="form-control" ng-model="establecimiento.nit" maxlength="13" placeholder="Numero de identificación tributaria NIT" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Dirección {{establecimiento.direccion}}</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.direccion" placeholder="Dirección" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Localidad</label>
                                            <label for="exampleInputName2" style="color: #31b0d5">Seleccione con un click en las opciones de la tabla</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.localidad" placeholder="Localidad" required ng-focus="cargarlocalidadesR()" ng-disabled="seleccion3">
                                            <div ng-if="seleccion3"> 
                                                    <table class="table table-hover" style="cursor: pointer;">
                                                        <thead>
                                                            <tr>
                                                                <th>Localidades</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="esta in localidades" ng-click="seleccionLocalidad(esta)">
                                                                <td>{{esta}}</td>
                                                            </tr> 
                                                        </tbody>
                                                    </table>    
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Hora inicio</label>
                                            <input type="time" class="form-control" ng-model="establecimiento.horaInicio" step="100" placeholder="Hora inicio" ng-change="seleccionHoraInicio()" required>
                                        </div>                                        
                                        <div class="form-group" ng-if="seleccionHora">
                                            <label for="exampleInputName2">Hora cierre </label>
                                            <input type="time" class="form-control" ng-model="establecimiento.horaCierre" step="100" placeholder="Hora cierre" ng-change="mayor(establecimiento.horaCierre)" required>
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Multa {{establecimiento.multa}}%</label>
                                            <input type="number" min="0" max="100" class="form-control" ng-model="establecimiento.multa" placeholder="Multa" step="0.1" required>
                                        </div>                                                         
                                        <div class="form-group">
                                            <label for="exampleInputName2">Teléfono {{establecimiento.telefono}}</label>
                                            <input type="number" min="1000000" max="9999999" class="form-control" ng-model="establecimiento.telefono" placeholder="Teléfono" required>
                                        </div>                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2">Descripción</label>
                                            <input type="text" class="form-control" ng-model="establecimiento.descripcion" placeholder="Descripción" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Cuenta Bancaria</label>
                                            <label for="exampleInputName2" style="color: #31b0d5">Ejemplo: 21000813610123456789</label>
                                            <input type="number" min="00000000000000000001" max="99999999999999999999" class="form-control" ng-model="establecimiento.tarjetaCredito" placeholder="Cuenta Bancaria" required>
                                        </div>
                                        <a href="#about"><button type="submit" class="btn btn-info" ng-click="registrarEstablecimiento()">Enviar</button></a>
                                    </form>                                    
                                </div>
                            </article>
                        </div>
                    </div>                    

                    <div ng-if="opcionDeSala">
                        <div class="padding-grid-1">
                                <h3 class="letter">Registro <strong>Sala</strong></h3>
                        </div>
                        <div class="wrapper p3">
                            <article class="grid_4 alpha">
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a href="#"><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>
                                </br>
                                </br>
                                <div class="padding-grid-2">
                                    <div class="wrapper">
                                        <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                    </div>
                                </div>                              
                            </article>  
                            <article class="grid_8 alpha">
                                <div class="padding-grid-2">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Nombre de la sala {{sala.nombre}}</label>
                                            <input type="text" class="form-control" ng-model="sala.nombre" placeholder="Nombre de la sala" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Precio (x Hora) {{sala.precio}}</label>
                                            <input type="number" min="10000" class="form-control" ng-model="sala.precio" placeholder="precio" required>
                                        </div>                                       
                                        <div class="form-group">
                                            <label for="exampleInputName2">Descripción {{sala.descripcion}}</label>
                                            <input type="text" class="form-control" ng-model="sala.descripcion" placeholder="Descripción" required>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="exampleInputName2" >Numero de identificación tributaria NIT {{sala.nitValidacion}}</label>
                                            <label for="exampleInputName2" style="color: #31b0d5">Este dato se usa para autenticación. Este campo permite identificar el establecimiento al cual se va a registrar esta sala</label>
                                            <label for="exampleInputName2" style="color: #31b0d5">Ejemplo 000.000.000-1 </label>
                                            <input type="text" class="form-control" ng-model="sala.nitValidacion" placeholder="Numero de identificación tributaria NIT" required>
                                        </div>
                                        <a href="#about"><button type="submit" class="btn btn-info" ng-click="registrarSala()">Enviar</button></a>
                                    </form>                                    
                                </div>
                            </article>
                        </div>
                    </div>                                        
                    
                </div>
            </div>
        </div>
        <div class="block"></div>
</section>
