<link rel="stylesheet" href="css/starsCalification.css" type="text/css" media="screen">
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
        <div class="main">
                <div class="content-padding-2">
                        <div class="container_12">
                                <div class="wrapper">
                                        <div class="grid_12">
                                                <div class="padding-grid-1">
                                                        <h3 class="letter">Tus <strong>Calificaciones</strong></h3>
                                                </div>
                                                            <div class="padding-grid-2">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="exampleInputName2">Digite su cedula para identificacion {{establecimiento.nombre}}</label>
                                                            <input type="number" class="form-control" ng-model="establecimiento.nombre" placeholder="cedula sin puntos ni espacios">
                                                        </div>
                                                        <button type="submit" class="btn btn-info" ng-click="">Consultar</button>
                                                    </form>  
                                                        <br>
                                                        <h3 class="letter">Califica <strong>El Servicio</strong></h3>
                                                        <h2 class="letter"><strong>Entre menos estrellas, menor fue la calidad del servicio</strong></h2>
                                                        <br>
                                                        <form>
                                                        <div class="ec-stars-wrapper">
                                                                <a href="#" data-value="1" title="Votar con 1 estrella">&#9733;</a>
                                                                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                                                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                                                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                                                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                                                        </div>
                                                        </form>
                                                        </br>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
<div class="block"></div>
</section>