<link rel="stylesheet" href="css/starsCalification.css" type="text/css" media="screen">
<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
        <div class="main">
                <div class="content-padding-2">
                        <div class="container_12">
                                <div class="wrapper">
                                        <div class="grid_12">
                                            <div class="bg-2">
                                                <div class="padding-grid-1">
                                                    <h3 class="letter">Tu<strong>Infomación</strong></h3>
                                                </div>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Digite su cedula para identificacion </label>
                                                        <label for="exampleInputName2" style="color: #31b0d5">Este dato se usa para autenticación </label>
                                                        <label for="exampleInputName2" style="color: #31b0d5">Ejemplo de Cedula 2135746851 </label>
                                                        <input type="number" maxlength="13" class="form-control"  ng-model="logeo" placeholder="cedula sin puntos ni espacios">
                                                    </div>
                                                    <button type="submit" class="btn btn-info" ng-click="cargarInformacion(logeo)">Consultar</button>
                                                </form>                                                  
                                            </div>
                                            
                                            <div ng-if="usuarioAutenticado">
                                                </br>
                                                </br>
                                                <div class="wrapper p3">
                                                    <article class="grid_4 alpha">
                                                        <div class="padding-grid-2">
                                                            <div class="wrapper">
                                                                <figure class="style-img-2 fleft"><a><img src="images/page2-img1.jpg"  alt=""></a></figure>
                                                            </div>
                                                        </div>
                                                    </article>                            
                                                    <article class="grid_8 alpha">
                                                        <div class="padding-grid-2">
                                                            <table class="table table-hover" style="cursor: pointer;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Usuario</th>
                                                                        <th>Infomracion</th>                            
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="esta in usuariollaves">
                                                                        <td>{{ esta}}</td>
                                                                        <td>{{ usuario[esta]}}</td>
                                                                    </tr> 
                                                                </tbody>
                                                            </table>     
                                                        </div>
                                                    </article>
                                                </div>                                                                        
                                            </div>
                                            
                                            <div ng-if="seleccionAdministrador">
                                                </br>
                                                </br>
                                                <div class="wrapper p3">
                                                    <article class="grid_4 alpha">
                                                        <div class="padding-grid-2">
                                                            <div class="wrapper">
                                                                <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                                            </div>
                                                        </div>
                                                    </article>                            
                                                    <article class="grid_8 alpha">
                                                        <div class="padding-grid-2">
                                                            <table class="table table-hover" style="cursor: pointer;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nombre del establecimiento</th>
                                                                        <th>Localidad</th>                            
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="esta in consultarTodosEstablecimientosSinHabilitar" ng-click="consultarSalaPorEstablecimiento(esta)">
                                                                        <td>{{ esta.nombre}}</td>
                                                                        <td>{{ esta.localidad}}</td>
                                                                    </tr> 
                                                                </tbody>
                                                            </table>   
                                                        </div>
                                                    </article>
                                                </div>                                                                        
                                                <div ng-if="seleccion">
                                                    <div class="padding-grid-1">
                                                            <h3 class="letter">Establecimiento <strong>{{establecimientoNombre}}</strong></h3>
                                                    </div>
                                                    <div class="wrapper p3">
                                                        <article class="grid_4 alpha">
                                                            <div class="padding-grid-2">
                                                                <div class="wrapper">
                                                                    <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                                                </div>
                                                            </div>
                                                        </article>                            
                                                        <article class="grid_8 alpha">
                                                            <div class="padding-grid-2">
                                                                <table class="table table-hover" style="cursor: pointer;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Establecimiento</th>
                                                                            <th>Infomracion</th>                            
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="esta in establecimientoSeleccionadoLlaves">
                                                                            <td>{{ esta}}</td>
                                                                            <td>{{ establecimientoSeleccionado[esta]}}</td>
                                                                            <button class="btn btn-info" ng-click="habilitarEstablecimiento()">Habilitar</button>
                                                                        </tr> 
                                                                    </tbody>
                                                                </table>     
                                                            </div>
                                                        </article>
                                                    </div>                        
                                                </div>
                                            </div>                                            
                                            
                                            
                                            <div ng-if="seleccionCliente">
                                                <div>
                                                    <article class="grid_4 alpha">
                                                        <div class="padding-grid-2">
                                                            <div class="wrapper">
                                                                <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                                            </div>
                                                        </div>
                                                        </br>
                                                        </br>
                                                        <div class="padding-grid-2">
                                                            <div class="wrapper">
                                                                <figure class="style-img-2 fleft"><a><img src="images/page2-img1.jpg"  alt=""></a></figure>
                                                            </div>
                                                        </div>
                                                        </br>
                                                        </br>
                                                        <div class="padding-grid-2">
                                                            <div class="wrapper">
                                                                <figure class="style-img-2 fleft"><a><img src="images/page2-img2.jpg"  alt=""></a></figure>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="grid_8 alpha">
                                                        <div class="padding-grid-2">
                                                            <table class="table table-hover" style="cursor: pointer;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Ensayo</th>
                                                                        <th>Descripcion</th>                            
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="esta in listaensayos">
                                                                        <td>{{ esta.idEnsayo}}</td>
                                                                        <td>{{ esta.descripcion}}</td>
                                                                        <td>
                                                                                <input type="text" class="form-control" ng-model="esta.descripcion2" placeholder="Descripcion de calificacion" required>
                                                                                <div class="ec-stars-wrapper">
                                                                                    <a ng-click="calificar(1, esta)"  title="Votar con 1 estrella">&#9733;</a>
                                                                                    <a ng-click="calificar(2, esta)"  title="Votar con 2 estrellas">&#9733;</a>
                                                                                    <a ng-click="calificar(3, esta)"  title="Votar con 3 estrellas">&#9733;</a>
                                                                                    <a ng-click="calificar(4, esta)"  title="Votar con 4 estrellas">&#9733;</a>
                                                                                    <a ng-click="calificar(5, esta)"  title="Votar con 5 estrellas">&#9733;</a>

                                                                                </div>
                                                                        </td>
                                                                    </tr> 
                                                                </tbody>
                                                            </table>   
                                                        </div>
                                                    </article>                                                    
                                                </div>
                               
                                            </div>
 
                                </div>
                        </div>
                </div>
        </div>
<div class="block"></div>
</section>